.mb-1em {
    margin-bottom: 1em;
}

.w-15em {
    width: 15em;
}
.w-16em {
    width: 16em;
}

.registrationButton {
    margin-top: .4em;
    margin-right: .5em;

    text-transform: uppercase;
}

.block {
    padding: 1em;
    margin-bottom: 1em;

    min-height: 30px;

    background-color: #e7e6e6;
    border: 2px solid lightgray;
    border-radius: 5px;

    font-size: .9em;
}

.title {
    padding-bottom: 1em;
    margin-bottom: 1em;

    border-bottom: 1px solid lightgrey;

    font-size: .8em;
    color: #9a9997
}

.insideBlock {
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: .45em;

    width: auto;

    background-color: #eee;
    border-left: 4px solid grey;
}

.channelLink {
    text-decoration: none;
    color: #dc2020;
}

.channelLink:hover {
    color: #fa2525;
}

/* Block of Animated Button Border Hover from 'Online Tutorials' */
.animatedBorderHover {
    width: 142px;
}

.animatedBorderHover button {
    padding: 15px 30px;

    position: relative;
    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #111;
    border: 2px solid #111;
    background-color: #fff;
    border-radius: 5px;
}
.animatedBorderHover button:hover {
    text-decoration: none;
    color: #111;
}

.animatedBorderHover button:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100%  - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
    transform: scaleY(1);
}
.animatedBorderHover button:hover:before {
    transform: scaleY(0);
}

.animatedBorderHover button:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100%  - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}
.animatedBorderHover button:hover:after {
    transform: scaleX(0);
}

.animatedBorderHover button span {
    position: relative;
    z-index: 3;
}
/* ============================================================= */

/* Block of Background slider */

.blockOfCoolSlide .main {
    width: 300px;
}
.blockOfCoolSlide .imagesection {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.blockOfCoolSlide .imagea {
    position: absolute;
    overflow: hidden;
}
.blockOfCoolSlide .imagea.secondimg .final-image {
    transform: skew(0deg);
    margin-left: 300px;
}
.blockOfCoolSlide .imagea.secondimg {
    transform: skew(0deg);
    margin-left: -300px;
    width: calc(10vw + 300px);
    border-right: 4px solid black;
}
.blockOfCoolSlide .imagea .final-image {
    height: 300px;
}
.blockOfCoolSlide .imagea img {
    width: 300px;
}

.webLink {
    color: #3939f6;
}

/* ========================== */

/* Footer */

.footer {
    min-height: 150px;

    padding: 1em;

    background-color: #e7e6e6;
}

/* ====== */